.row-headr{
    margin: 0px;
    padding: 0px;
}

.row-content{
    margin: 0px;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.footer{
    background-color: #fdd6f1;
    margin: 0px;
    padding: 20px 0px 20px 0px;
}

.jumbotron{

    padding: 70pc 300x 70px,30px;
    margin: 0px auto;
    background: #e769f8;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: opx;
    color: black;

}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}